body {
    background-image: url(forlond.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.eng {
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    background-color: blue;
}